.caixa_width {
    /* border: 2px;
    border-style: solid;
    border-color: brown; */

    border: 2px solid #f00;

    width: 100px;
}

.imagem_width {
    width: 250px;
}

    .caixa_heigth{
        border: 3px dashed #0f0;

        height: 500px;
        width: 100px;
    }
