#titudo-h2{
    color: rgb(253, 83, 83);
}

.fundo-amarelo{
    background: rgb(243, 230, 153);
}

.texto-vermelho{
    color: red;
}

h2{
    color: rgb(0, 122, 82);
}

p{
    color: rgb(0, 65, 43);
}

h2{
    color: rgb(37, 173, 173);
}



